<!DOCTYPE html>
<html>
<head>
<title>{{userDetails[0]['uname']}}</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8">

<link type="text/css" rel="stylesheet" href="style1.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">

		<div id="name">
			<h1 class="quickFade delayTwo">{{userDetails[0]['uname']}}</h1>
			<h5 class="quickFade delayThree">{{userDetails[0]['uaddress']}}</h5>
		</div>

		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>Email ID: <a href="mailto:{{userDetails[0]['uemail']}}" target="_blank">{{userDetails[0]['uemail']}}</a></li>
				{% if userDetails[0]['ulinkedin'] != "NULL" %}
				<li>LinkedIn: <a href="{{userDetails[0]['ulinkedin']}}">{{userDetails[0]['ulinkedin']}}</a></li>
				{% endif %}
				{% if userDetails[0]['uportfolio'] != "NULL" %}
				<li>Portfolio: <a href="{{userDetails[0]['uportfolio']}}">{{userDetails[0]['uportfolio']}}</a></li>
				{% endif %}
				<li>Mobile: {{userDetails[0]['umobno']}}</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>

	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Objective</h1>
				</div>

				<div class="sectionContent">
					<p>{{userDetails[0]['uobjective']}}</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Academic Details</h1>
			</div>

			<div class="sectionContent">
				{% for d in acadDetails %}
				<article>
					<h2>{{d['uniname']}}</h2>
					<p class="subDetails">{{d['uniname']}}<br>{{d['course']}}</p>
					<p>Year Of Passing: {{d['year']}}</p>
					<p>Specialization: {{d['specialization']}}</p>
					<p>Percentage: {{d['marks']}}</p>
					<!-- <p>CGPA/Marks Obtained: 00</p>
					<p>Total CGPA/Marks: 00</p> -->
				</article>
				{% endfor %}

				</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>

			<div class="sectionContent">
				{% for d in we %}
				<article>
					<h2>{{d['designation']}} at {{d['ename']}}</h2>
					<p class="subDetails">{{d['etype']}}<br>{{"/".join(d['joindate'].split("-"))}} - {{"/".join(d['enddate'].split("-"))}}</p>
					<p>{{d['duties']}}</p>
				</article>
				{% endfor %}
			</div>
			<div class="clear"></div>
		</section>

		{% if skills %}
		<section>
			<div class="sectionTitle">
				<h1>Skills</h1>
			</div>

			<div class="sectionContent">
				{{skills}}
				<!-- <ul class="keySkills">
					<li>Skill/Activity/Award</li>
					<li>Skill/Activity/Award</li>
					<li>Skill/Activity/Award</li>
					<li>Skill/Activity/Award</li>
					<li>Skill/Activity/Award</li>
					<li>Skill/Activity/Award</li>
					<li>Skill/Activity/Award</li>
					<li>Skill/Activity/Award</li>
					<li>Skill/Activity/Award</li>
					<li>Skill/Activity/Award</li>
					<li>Skill/Activity/Award</li>
					<li>Skill/Activity/Award</li>
				</ul> -->
			</div>
			<div class="clear"></div>
		</section>
		{% endif %}

		{% if act %}
		<section>
			<div class="sectionTitle">
				<h1>Activities</h1>
			</div>

			<div class="sectionContent">
				{{act}}
			</div>
			<div class="clear"></div>
		</section>
		{% endif %}

		{% if ach %}
		<section>
			<div class="sectionTitle">
				<h1>Achievements</h1>
			</div>

			<div class="sectionContent">
				{{ach}}
			</div>
			<div class="clear"></div>
		</section>
		{% endif %}

		{% if userDetails[0]['DOB'] != "NULL" %}
		<section>
			<div class="sectionTitle">
				<h1>Personal Details</h1>
			</div>

			<div class="sectionContent">
				<article>
					{% if userDetails[0]['fname'] != "NULL" %}
					<p>Father's Name: {{userDetails[0]['fname']}}</p>
					{% endif %}
					<p>DOB: {{userDetails[0]['DOB']}}</p>
					{% if userDetails[0]['sex'] != "NULL" %}
					<p>Gender: {{userDetails[0]['sex']}}</p>
					{% endif %}
					{% if userDetails[0]['nationality'] != "NULL" %}
					<p>Nationality: {{userDetails[0]['nationality']}}</p>
					{% endif %}
					<p>Hobbies and Interest: {{hob}}</p>
				</article>

				</div>
			<div class="clear"></div>
		</section>
		{% endif %}
		{% if ref %}
		<section>
			<div class="sectionTitle">
				<h1>Refrences</h1>
			</div>
			{% for d in ref %}
			<div class="sectionContent">
				<article>
					<p>Refrence Name: {{d['rname']}}</p>
					<p>Organization: {{d['rorg']}}</p>
					<p>Mobile Number: {{d['rnum']}}</p>
					<p>Email ID: <a href="mailto:{{d['remail']}}" target="_blank">{{d['remail']}}</a></p>
				</article>
			</div>
			{% endfor %}
			<div class="clear"></div>
		</section>
		{% endif %}


	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>
